/*MAIN*/
main{ /*Eligimos el fondo*/
    background: url(../img/Fondo2.png);
    background-size: cover; 
}
main form{
    padding-top: 30px;
}
/*RESPONSIVE MAIN*/
@media only screen and (max-width: 1328px) {
}
@media only screen and (max-width: 960px) {
    form>*:nth-child(9){
        margin-top: 50px;
    }
}
@media only screen and (max-width: 480px) {
} 
